<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <system.web>
    <compilation debug="true" />
  </system.web>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MailBoxServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="MailBoxServiceBehavior" name="Services.Implementation.MailBoxService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration=""
          name="SampleCalcSvcNetTcpEndPoint" contract="Services.Interface.IMailBoxService" />
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""
          name="SampleCalcSvcMexTcpEndPoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8080/SampleSvc" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
